body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arimo', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background: url(../img/record_background.png);
    background-size: cover;
}

ul, li {
    list-style-type: none;
    padding: 0;
}

.listen_instruct {
    margin-bottom: 10%;
}

.record_instruct {
    margin-top: 10%;
    margin-bottom: 10%;
}

.main-content {
    padding: 15% 10% 10% 10%;
}

.entry {
    font-size: 20px;
}

.prompt {
    font-size: 25px;
}


.icon {
    width: 10%;
    margin: 0% 5% 0% 0%;
}

.state-viz {
    font-size: 30px;
    color: red;
}

.selected-entry {
    border-style: solid;
    border-width: 5px;
    border-color: black; 
    color: red;
}
