body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arimo', sans-serif;
    overflow-x: hidden; 
}

.bg {
    /* The image used */
    background: url(../img/record_memory_background.png);

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
}

.main-content {
    margin-left: 10%;
    padding-top: 10%;
}

#keypad {
    margin: auto;
    margin-top: 10%;
    height: 300px;
    width: auto;
}